Repository neondatabase/dev-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd deploy-queue && cargo fmt'
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd deploy-queue && cargo clippy --all-targets'
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-sqlx-prepare
        name: cargo sqlx prepare
        entry: bash -c 'cd deploy-queue && cargo sqlx prepare -- --all-targets --all-features'
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        entry: bash -c 'cd deploy-queue && cargo test'
        language: system
        types: [rust]
        pass_filenames: false
      - id: sleek
        name: sleek
        entry: sleek
        language: system
        types: [sql]

feat(deploy-queue): print ETA while waiting
  deploy-queue/.sqlx/query-03b55b7d5055fd3941855dd58a03f9fa8a44b48052359d521714cd0697ad07d4.json
  deploy-queue/.sqlx/query-c233780135c4c36be362a6551ac997f7389ae5ffe5b6bd5b515ac822b61a7c40.json
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/queries/blocking_deployments.sql
  deploy-queue/src/lib.rs
  deploy-queue/tests/outlier_detection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

feat(deploy-queue): helper views for external visualization
  deploy-queue/migrations/0006_current_deployments_view.sql
  deploy-queue/tests/views_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

SQL queries used in Grafana dashboards.
  deploy-queue/queries/grafana_queries.sql
Due: sleek

Added retry on DB connection.
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Fixed lint error.
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Update deploy-queue/src/lib.rs
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Changed to inline function. Used anyhow instead of mapErr.
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Fixed formatting
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Fixed compiling error.
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Fixed formatting.
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Update deploy-queue/Cargo.toml
  deploy-queue/Cargo.toml
Due: none

Separate timeout variables.
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Apply suggestion from @jcgruenhage
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

impr(deploy-queue): add timeout and retry on database connection (#57)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Bump version to 0.1.1.
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

chore(deploy-queue): bump version to 0.1.1 (#58)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

Added global flag for skipping migrations.
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Skip migrations if environment is prod.
  deploy-queue/action.yml
Due: none

Lint fix.
  deploy-queue/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

chore(deploy-queue): bump version to 0.1.2
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

Lint fix.
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

chore(deploy-queue): bump version to 0.2.0
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

feat(deploy-queue): add parameter to skip db migrations (#59)
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

chore(deploy-queue): bump version to 0.2.0 (#60)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

chore(deploy-queue): pull out github output writing to separate function
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

feat(deploy-queue): add materialized view for duration analytics
  deploy-queue/.sqlx/query-16a4c94974c6aa798d11305de16aa7fa5851f2f9aec87de0e54fd6c1f1b639b5.json
  deploy-queue/.sqlx/query-24945b105850f593529a61fa2051ad1fc916bf33fe3e58bc3c815952e9172799.json
  deploy-queue/.sqlx/query-3ae56c59f748a58e13ec5780ef2a2a3844e12004f8ae05573d22bdba0351ff66.json
  deploy-queue/.sqlx/query-50c9914672366e70bc8027ab5383305585708a768ad5fda9e8010069cdff7916.json
  deploy-queue/.sqlx/query-798354bd3312cf4704848a02741dc6ef3c7cd18430edf900ec30321d56d33ac1.json
  deploy-queue/.sqlx/query-948069fc831d380bde5ad1bab38e98d2f6702c8c58d5d6917c7d09e4edc728a0.json
  deploy-queue/.sqlx/query-a01ba4d8f41134fcb082454bbe9ad62cac702afb903883d71642c46eb22ec226.json
  deploy-queue/.sqlx/query-ce1952a8b2bc5193455558376ea88c71f41e3e588cedcf8a65962028dce01b2e.json
  deploy-queue/migrations/0004_deployment_duration_analytics.sql
  deploy-queue/tests/deployment_analytics_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

feat: add pre-commit hooks for formatting/tests
  .pre-commit-config.yaml
Due: none

fix(deploy-queue): remove broken test database fallback
  deploy-queue/tests/common/test_db_setup.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

fix(deploy-queue): make more fields immutable
  deploy-queue/migrations/0003_make_more_fields_immutable.sql
Due: sleek

feat(deploy-queue): subcommand for listing outliers
  deploy-queue/.sqlx/query-d5e8b9f62badfac50de04b19f639d867973f9286075150ef50e79795c9a693ab.json
  deploy-queue/.sqlx/query-d657db5b5d8fa84584c45227f46bd55a39643168521625b2ca6faf1edca2fbaf.json
  deploy-queue/.sqlx/query-ea75b7099df6cd09a4b177a0c3e602d33721d449df82dc10a1802ebb8a2072ed.json
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/queries/active_outliers.sql
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
  deploy-queue/tests/outlier_detection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

fix(deploy-queue): use interval type for buffer time
  deploy-queue/.sqlx/query-c233780135c4c36be362a6551ac997f7389ae5ffe5b6bd5b515ac822b61a7c40.json
  deploy-queue/.sqlx/query-ed92b317a46ee16d78454178c5087f1f0fbc93065755e225878eb9e856b638c5.json
  deploy-queue/.sqlx/query-fcefaf7f08146aaa62a27af26aa7800450e608784b43b15a074dec6c17dae914.json
  deploy-queue/migrations/0005_change_buffer_time_to_interval.sql
  deploy-queue/queries/blocking_deployments.sql
  deploy-queue/src/lib.rs
  deploy-queue/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

chore(deploy-queue): move interval/duration conversions to separate module
  deploy-queue/src/duration_ext.rs
  deploy-queue/src/lib.rs
  deploy-queue/tests/deployment_analytics_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

chore(deploy-queue): use descriptive names for blocking_deployments query
  deploy-queue/.sqlx/query-41207a466a8695da05d71964d53c5cfb6d0f9fa35b031732fe19ee364b924659.json
  deploy-queue/.sqlx/query-fcefaf7f08146aaa62a27af26aa7800450e608784b43b15a074dec6c17dae914.json
  deploy-queue/queries/blocking_deployments.sql
Due: sleek
