Repository neondatabase/dev-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd deploy-queue && cargo fmt'
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd deploy-queue && cargo clippy --all-targets'
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-sqlx-prepare
        name: cargo sqlx prepare
        entry: bash -c 'cd deploy-queue && cargo sqlx prepare -- --all-targets --all-features'
        language: system
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo test
        entry: bash -c 'cd deploy-queue && cargo test'
        language: system
        types: [rust]
        pass_filenames: false
      - id: sleek
        name: sleek
        entry: sleek
        language: system
        types: [sql]

feat(deploy-queue): helper views for external visualization
  deploy-queue/migrations/0005_current_deployments_view.sql
  deploy-queue/tests/views_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

changed deployment status to enum.
  deploy-queue/migrations/0005_current_deployments_view.sql
Due: sleek

SQL queries used in Grafana dashboards.
  deploy-queue/queries/grafana_queries.sql
Due: sleek

Added README file
  deploy-queue/README.md
Due: none

Added state diagram using mermaid.
  deploy-queue/README.md
Due: none

Added Breaking glass example.
  deploy-queue/README.md
Due: none

Added README file (#55)
  deploy-queue/README.md
Due: none

Migration for the new fields cloud_provider and cell_index.
  deploy-queue/migrations/0002_add_cloud_provider_and_cell_index.sql
Due: sleek

Updated logic for blocking deployments.
  deploy-queue/queries/blocking_deployments.sql
Due: sleek

Added new fields to CLI and GitHub Action.
  deploy-queue/README.md
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

fields cloud_provider and cell_index are mandatory.
  deploy-queue/migrations/0002_add_cloud_provider_and_cell_index.sql
Due: sleek

Use CLI flags instead of positional arguments.
  deploy-queue/README.md
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Remove positional arguments.
  deploy-queue/action.yml
Due: none

environment also needs to be checked for blocking deployment.
  deploy-queue/README.md
  deploy-queue/queries/blocking_deployments.sql
Due: sleek

Consistent ordering: environment, provider, region, cell
  deploy-queue/README.md
  deploy-queue/action.yml
  deploy-queue/migrations/0002_add_cloud_provider_and_cell_index.sql
  deploy-queue/queries/blocking_deployments.sql
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

Added new migration script to the readme.
  deploy-queue/README.md
Due: none

Improved example for cancelling deployment.
  deploy-queue/README.md
Due: none

Added default values for new fields.
  deploy-queue/migrations/0002_add_cloud_provider_and_cell_index.sql
Due: sleek

Removed default values for the new fields.
  deploy-queue/migrations/0002_add_cloud_provider_and_cell_index.sql
Due: sleek

Updated existing tests to include cloud_provider and cell_index. Added new test cases to verify blocking by env+provider+region+cell
  deploy-queue/tests/blocking_deployments_tests.rs
  deploy-queue/tests/fixtures/deployment.rs
  deploy-queue/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Updated sqlx cache files.
  deploy-queue/.sqlx/query-016218865f38742057950360c707f67a7e112b7734783f30b7ec41bd591911c2.json
  deploy-queue/.sqlx/query-01c009d3a28cfb3f720a8c154ba3445684c2374a2d2984e675b5d35f1f00af01.json
  deploy-queue/.sqlx/query-08672fd4ab777437dbd7469422c24542bd3e6768bf09bb652087daf8900ce4c0.json
  deploy-queue/.sqlx/query-14ff2fcdb7da82bd17bb5e517d10eccbc7352a84d0c69313976af5f8d673cc61.json
  deploy-queue/.sqlx/query-236b16fc439333da3e1733d0e6db4531107a511aa5d8ab62b669862fdc569391.json
  deploy-queue/.sqlx/query-343df9554dfbaf4049ca1041ef9838fd5ecdd1f3635a81f2fb32523c81d9ef9a.json
  deploy-queue/.sqlx/query-5586a86cba5a93390cd40f96b5837cc6e93ac57cf24c5d5008d96ddeb575af61.json
  deploy-queue/.sqlx/query-580eeb6fe034919b38ba5df425d4696611d7e21818a29e065ba5ce760a13c5d9.json
  deploy-queue/.sqlx/query-5e9387bd8a796e72851a088229cb7a50512797962d7d73104c702addcaecfaa2.json
  deploy-queue/.sqlx/query-68ba9f4a336effbcf660a00fa7a531c320640178e16d8120c663ca63d6575e85.json
  deploy-queue/.sqlx/query-6d4abd15f2b2e236bc15b8fa03e124c1fcc0f3cbb5d7d0d7d1ebd841574bec88.json
  deploy-queue/.sqlx/query-73d529339aa88a229f84d273f7467523bd8affd380aba8d650d7978cd948670d.json
  deploy-queue/.sqlx/query-87ac91327995996871c95e72a30173cca55c22bb77b024c0eee875ef6c8a05c8.json
  deploy-queue/.sqlx/query-8cd8994c5c620e2d6c488e75cc2113476a9f2a95fd31341c34ffd542a9577285.json
  deploy-queue/.sqlx/query-a5a27b54905a7d368ff7be88a3f717605729318c509b4ad91890659172901c7c.json
  deploy-queue/.sqlx/query-af9aed075c4457b2c71325babdb455f96d6c6bb21207bb98bb01a8fb223f361f.json
  deploy-queue/.sqlx/query-b7c715453e9274cae708bb871ab4e990654a6d0e1ec577cdfd75315c21ea5a90.json
  deploy-queue/.sqlx/query-ba2f625bb3b49d26034f4724cc6aabdcc96733581fd30d42a77564ddc41ab727.json
  deploy-queue/.sqlx/query-c25e280d5b87004a0a9d99388b65f6ea3f0977ef446adc190489bf1e906a2c19.json
  deploy-queue/.sqlx/query-c326a73ef38104e281169a5147d26cd5256d6b7469e596936b768b64bf8b9baf.json
  deploy-queue/.sqlx/query-c929cef0bb57e6c6841f5309c926e9b7851104ced41304ced79b33d9b76f6e74.json
  deploy-queue/.sqlx/query-dc96b622ae63367f116cff0b5d59a1c050623974c5cd7c8922e8a911f6f56bcd.json
  deploy-queue/.sqlx/query-eabc77dad77207bc126c7f82c169ec6286afd36691c2cbc0fd250b40a32ee74e.json
  deploy-queue/.sqlx/query-ed8d93f773163cc63be64bce0fb39b7783be6df903cafe250f3da04be0eda270.json
  deploy-queue/.sqlx/query-ee88a7438f74c823d4464445d53c16a7047146ce0204d6ce1e9d03e04c4d913e.json
  deploy-queue/.sqlx/query-f50b871b32b89a5e55664e358f8558986a7011688d300088b196399efd8b06af.json
  deploy-queue/.sqlx/query-f67a4ae782ad0bcb2a60f1c1d778ebfd5d5fed22333e445e634a445986e23831.json
  deploy-queue/.sqlx/query-f6bf1fa80849e2670b8f5d49c6a47ac693c51ead6d52f843411a947ff8133444.json
Due: none

Added tests for immutable fields.
  deploy-queue/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Updated with new parameters (cloud_provider, cell-index). Added new e2e test for different cell index.
  .github/workflows/deploy-queue.yml
Due: none

Fixed fixture errors.
  deploy-queue/tests/fixtures/deployment.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Updated sqlx cache.
  deploy-queue/.sqlx/query-03907a9db267d9a7fe9b77d0778f6ae4c0b4edaaf922fcdeae5f06f22277088b.json
  deploy-queue/.sqlx/query-03923a51c3bcc568d3ea74c3766fb2c58056d05ee967c85dcc6aa57f2a5333eb.json
  deploy-queue/.sqlx/query-17ca7f8a2251569add94e72aec289e60cf20e32bb6aa3d3270042b1884f274fc.json
  deploy-queue/.sqlx/query-1c70fafc1ec4b4f470d3f6093f4520961ff388c32b5e42dd4e8c668909c8c308.json
  deploy-queue/.sqlx/query-36eb55863a32da3dd6433755478c7e4a5e33078485e3ab56fc2c0d860b752643.json
  deploy-queue/.sqlx/query-374a11a5aa937f644b48e566c67962866d4956b0ea68e9640934a2b2d6f4110a.json
  deploy-queue/.sqlx/query-4120444feecff4437e15b8319f91f43607c1df7ec329c55eada6fcb724301f79.json
  deploy-queue/.sqlx/query-42a6521a22e9ab7ebd20b8f1cde851110dd8287e5a1ec423d101be9b2fce97e6.json
  deploy-queue/.sqlx/query-4414d03de423981b28d97f0a04f9ff0fa0503330c82c4ff862986c558cac066b.json
  deploy-queue/.sqlx/query-55a51f2823c6f8494ccaf4bd4731880f960d16b3815b1b0448bbd6bde778ed74.json
  deploy-queue/.sqlx/query-5cb98cb070ea92030397ed9ae704b99d3392439ef6c1ec40b48da1a1d80c7592.json
  deploy-queue/.sqlx/query-5d126d12e637c1334cd68c2411d669edc6e0135020ce6390ee53f7454b6ec3d4.json
  deploy-queue/.sqlx/query-65daa2c45490ab06a6613922d12ca3a1464919022dad4341ab2120462203bfd0.json
  deploy-queue/.sqlx/query-6f0649b8458a40eb6499f478fef11eec72dcb113b91bd83b6fe75d65fad09ce4.json
  deploy-queue/.sqlx/query-7b28d4f82149aa335fca2f0d6db4d7a2afaa6d23ef9da9eb5095e328a7306ea5.json
  deploy-queue/.sqlx/query-7ec796c891bcbc0bf15942024605a063680687d1bed76ecf3d3a29b2cd589ea0.json
  deploy-queue/.sqlx/query-8b709e9934023768aafd07fe278c7a0bb48c287cc22ebef9dc7d0ad8c86dd486.json
  deploy-queue/.sqlx/query-9f4bba405e344b3cf5647f1b9f6f35f8f33d80e45aca13d2b9a2e43354c119a0.json
  deploy-queue/.sqlx/query-b66da55bdfd772b880ae6ceda0924110a1a2f21f0d471cc2117c037c72a12b99.json
  deploy-queue/.sqlx/query-b7c715453e9274cae708bb871ab4e990654a6d0e1ec577cdfd75315c21ea5a90.json
  deploy-queue/.sqlx/query-bb8115efacff305a6d7abcb6ab2eaf0af835b1480aa77e2feb772b720e30b6df.json
  deploy-queue/.sqlx/query-bc8dc2e11838d9fab106df8b52a7fc91da15310c9cc81e19f6d056f9292667d8.json
  deploy-queue/.sqlx/query-c25e280d5b87004a0a9d99388b65f6ea3f0977ef446adc190489bf1e906a2c19.json
  deploy-queue/.sqlx/query-d71c1deb584652e1bd0fed5a2c9bd2d4bc2773ff721f96db272a0a9efa8b9286.json
  deploy-queue/.sqlx/query-db58c75e20c1cd60a9422e32b44de6a9d276b1c7abdb6aee31140b68eacd330f.json
  deploy-queue/.sqlx/query-db69579c44b60a2366b4e75d1bcad7a9b174a32ed90399f219c13dce36939e2d.json
  deploy-queue/.sqlx/query-dc96b622ae63367f116cff0b5d59a1c050623974c5cd7c8922e8a911f6f56bcd.json
  deploy-queue/.sqlx/query-e3d0cbb806368c1afb0f44b9044a36423519a509ff36b78e3e95e3aa1cf95546.json
  deploy-queue/.sqlx/query-e7305fd5673c67e9c999b8a24237991dbcbeb9117614f99121b2b081e106ee5d.json
  deploy-queue/.sqlx/query-e8d9fb37b5911ae86a3db254d1225ed482dce10c1363d9e8ab124935be9db771.json
  deploy-queue/.sqlx/query-eac40312ab614b7bf0db98d246e6dafad1015f32f1dc53434ded046e5d9633ce.json
  deploy-queue/.sqlx/query-f0fbd7859c8f1d0e138b59008adafec1f12e14c3dbd013f8769ca7cb0e0a538e.json
  deploy-queue/.sqlx/query-f5ec2f41289b0b2188c9dce0b855821f599df8179a1021a00f93c556397c4d05.json
  deploy-queue/.sqlx/query-f643fc5eab3b872f6f45c3a7c4f704dd415a7e1bcd2e31db307451ec8227d12a.json
  deploy-queue/.sqlx/query-f67a4ae782ad0bcb2a60f1c1d778ebfd5d5fed22333e445e634a445986e23831.json
  deploy-queue/.sqlx/query-f6bf1fa80849e2670b8f5d49c6a47ac693c51ead6d52f843411a947ff8133444.json
Due: none

Fixed lint issues and warnings.
  deploy-queue/src/lib.rs
  deploy-queue/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

Updated comment.
  deploy-queue/queries/blocking_deployments.sql
Due: sleek

Fixed PR comment.
  deploy-queue/action.yml
Due: none

Updated sqlx cache.
  deploy-queue/.sqlx/query-01509caa791711453dc05b7fe1ae44c7898043e78da4235ebac43f452cade9c0.json
  deploy-queue/.sqlx/query-eabc77dad77207bc126c7f82c169ec6286afd36691c2cbc0fd250b40a32ee74e.json
Due: none

fix(deploy-queue): remove broken test database fallback
  deploy-queue/tests/common/test_db_setup.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

feat: add pre-commit hooks for formatting/tests
  .pre-commit-config.yaml
Due: none

feat(deploy-queue): subcommand for listing outliers
  deploy-queue/.sqlx/query-d5e8b9f62badfac50de04b19f639d867973f9286075150ef50e79795c9a693ab.json
  deploy-queue/.sqlx/query-d657db5b5d8fa84584c45227f46bd55a39643168521625b2ca6faf1edca2fbaf.json
  deploy-queue/.sqlx/query-ea75b7099df6cd09a4b177a0c3e602d33721d449df82dc10a1802ebb8a2072ed.json
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/queries/active_outliers.sql
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
  deploy-queue/tests/outlier_detection_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

feat(deploy-queue): add materialized view for duration analytics
  deploy-queue/.sqlx/query-16a4c94974c6aa798d11305de16aa7fa5851f2f9aec87de0e54fd6c1f1b639b5.json
  deploy-queue/.sqlx/query-24945b105850f593529a61fa2051ad1fc916bf33fe3e58bc3c815952e9172799.json
  deploy-queue/.sqlx/query-3ae56c59f748a58e13ec5780ef2a2a3844e12004f8ae05573d22bdba0351ff66.json
  deploy-queue/.sqlx/query-50c9914672366e70bc8027ab5383305585708a768ad5fda9e8010069cdff7916.json
  deploy-queue/.sqlx/query-798354bd3312cf4704848a02741dc6ef3c7cd18430edf900ec30321d56d33ac1.json
  deploy-queue/.sqlx/query-948069fc831d380bde5ad1bab38e98d2f6702c8c58d5d6917c7d09e4edc728a0.json
  deploy-queue/.sqlx/query-a01ba4d8f41134fcb082454bbe9ad62cac702afb903883d71642c46eb22ec226.json
  deploy-queue/.sqlx/query-ce1952a8b2bc5193455558376ea88c71f41e3e588cedcf8a65962028dce01b2e.json
  deploy-queue/migrations/0004_deployment_duration_analytics.sql
  deploy-queue/tests/deployment_analytics_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

chore(deploy-queue): use descriptive names for blocking_deployments query
  deploy-queue/.sqlx/query-41207a466a8695da05d71964d53c5cfb6d0f9fa35b031732fe19ee364b924659.json
  deploy-queue/.sqlx/query-fcefaf7f08146aaa62a27af26aa7800450e608784b43b15a074dec6c17dae914.json
  deploy-queue/queries/blocking_deployments.sql
Due: sleek

fix(deploy-queue): use interval type for buffer time
  deploy-queue/.sqlx/query-c233780135c4c36be362a6551ac997f7389ae5ffe5b6bd5b515ac822b61a7c40.json
  deploy-queue/.sqlx/query-ed92b317a46ee16d78454178c5087f1f0fbc93065755e225878eb9e856b638c5.json
  deploy-queue/.sqlx/query-fcefaf7f08146aaa62a27af26aa7800450e608784b43b15a074dec6c17dae914.json
  deploy-queue/migrations/0005_change_buffer_time_to_interval.sql
  deploy-queue/queries/blocking_deployments.sql
  deploy-queue/src/lib.rs
  deploy-queue/tests/integration_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test, sleek

fix(deploy-queue): make more fields immutable
  deploy-queue/migrations/0003_make_more_fields_immutable.sql
Due: sleek

chore(deploy-queue): pull out github output writing to separate function
  deploy-queue/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test

chore(deploy-queue): move interval/duration conversions to separate module
  deploy-queue/src/duration_ext.rs
  deploy-queue/src/lib.rs
  deploy-queue/tests/deployment_analytics_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-sqlx-prepare, cargo-test
