Repository neondatabase/dev-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test, sleek

deploy-queue-cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd deploy-queue && cargo fmt'
  language: system
  pass_filenames: false

deploy-queue-cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd deploy-queue && cargo clippy --all-targets'
  language: system
  pass_filenames: false

deploy-queue-cargo-sqlx-prepare:
  name: cargo sqlx prepare
  entry: bash -c 'cd deploy-queue && cargo sqlx prepare -- --all-targets --all-features'
  language: system
  pass_filenames: false

deploy-queue-cargo-test:
  name: cargo test
  entry: bash -c 'cd deploy-queue && cargo test'
  language: system
  pass_filenames: false

sleek:
  name: Format SQL using sleek
  entry: sleek
  language: system

chore(deploy-queue): switch to self-hosted runners
  .github/workflows/deploy-queue.yml
Due: none

docs(deploy-queue): updated readme with bulk cancellation, listing outliers and slack integration.
  deploy-queue/README.md
Due: none

fix(deploy-queue): also use self hosted runners for cleanup CI
  .github/workflows/deploy-queue-cleanup.yml
Due: none

fix(deploy-queue): circumvent IP allow list by not authenticating to github
  deploy-queue/action.yml
Due: none

chore(deploy-queue): switch to self-hosted runners
  .github/workflows/deploy-queue-cleanup.yml
  .github/workflows/deploy-queue.yml
Due: none

chore(deploy-queue): bump version to 0.5.3
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

docs(deploy-queue): updated readme with bulk cancellation, listing outliers and slack integration. (#73)
  deploy-queue/README.md
Due: none

fix(deploy-queue): also use self hosted runners for cleanup CI (#72)
  .github/workflows/deploy-queue-cleanup.yml
Due: none

fix(deploy-queue): generate job url in a separate step
  deploy-queue/action.yml
Due: none

chore(deploy-queue): bump version to 0.7.2
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

fix(deploy-queue): addressing PR comment - added INPUT_URL to env
  deploy-queue/action.yml
Due: none

fix(deploy-queue): extract inputs.url to variable
  deploy-queue/action.yml
Due: none

fix(deploy-queue): generate job url in a separate step (#74)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/action.yml
Due: none

feat(deploy-queue): add heartbeat to deployments table
  deploy-queue/migrations/0008_add_heartbeat_timestamp.sql
Due: sleek

feat: add heartbeat command and heartbeat_timestamp field
  deploy-queue/.sqlx/query-2bf963a7c12d560c76069ddb0084234bc09ccc780ed4f84e243cb4e0b5de48f1.json
  deploy-queue/.sqlx/query-dbb47ac13317873add310d9ace6058b39ea16843d0bf78c0fed9ae6c2e155e3c.json
  deploy-queue/src/cli.rs
  deploy-queue/src/constants.rs
  deploy-queue/src/handler/fetch.rs
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat: auto-cancel deployments with stale heartbeats
  deploy-queue/.sqlx/query-c2e88a48298f910725f2351066571b960b0983671dfc584ba3706e3df3ba87a7.json
  deploy-queue/src/constants.rs
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Use HEARTBEAT_TIMEOUT constant in stale heartbeat query.
  deploy-queue/.sqlx/query-2c5dbde473464c6106558ed027c5a8236256921126994db1bd978c6ba7c10f79.json
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): When cancelling stale deployments, print component + version as well.
  deploy-queue/.sqlx/query-b20a65fa55f426d50571fa2b637d957e5d63ca0b6f25707bc6e0e275d6856d22.json
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Moved staleheartbeat query in a separate function
  deploy-queue/.sqlx/query-a80eb87e4f10ac993de619ec69fcd2a78a3e36eec40e4ad6d8e31e836eb0f64c.json
  deploy-queue/.sqlx/query-b20a65fa55f426d50571fa2b637d957e5d63ca0b6f25707bc6e0e275d6856d22.json
  deploy-queue/src/handler/fetch.rs
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/lib.rs
  deploy-queue/src/model.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Increase heartbeat timeout to 15 minutes
  deploy-queue/src/constants.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Add retry to heartbeat update
  deploy-queue/src/constants.rs
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Add retry to GitHub steps
  deploy-queue/action.yml
Due: none

feat(deploy-queue): Revert back to shell script and use retry function
  deploy-queue/action.yml
Due: none

feat(deploy-queue): Adjust retry in resolving tag step to same logic as download binary
  deploy-queue/action.yml
Due: none

feat(deploy-queue): Add retry to GitHub steps (#76)
  deploy-queue/action.yml
Due: none

feat(deploy-queue): StaleHearbeatDeployment timestamp is mandatory
  deploy-queue/src/handler/fetch.rs
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/model.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Added deployment_id that triggers stale heartbeat cancellation
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Changed MissedTickBehavior for heartbeat interval
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Increased number of repetition for retrying heartbeat
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Update deploy-queue/src/handler/mod.rs
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Update deploy-queue/src/lib.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Removed manual abort
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Cancel deployment manually if heartbeat loop exited due to error
  deploy-queue/src/handler/mod.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Fixed clippy errors
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Updated readme with heartbeat
  deploy-queue/README.md
Due: none

feat(deploy-queue): Updated readme heartbeat for break-glass
  deploy-queue/README.md
Due: none

feat(deploy-queue): Updated readme heartbeat example
  deploy-queue/README.md
Due: none

feat(deploy-queue): Integration tests for heartbeat
  deploy-queue/tests/heartbeat_tests.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): Fixed compatibility test
  .github/workflows/deploy-queue.yml
Due: none

chore(deploy-queue): version bump
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

Path conditions:
  deploy-queue-cargo-fmt: any of: \.rs$
  deploy-queue-cargo-clippy: any of: \.rs$
  deploy-queue-cargo-sqlx-prepare: any of: \.rs$
  deploy-queue-cargo-test: any of: \.rs$
  sleek: any of: \.sql$
