Repository neondatabase/dev-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test, sleek

deploy-queue-cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd deploy-queue && cargo fmt'
  language: system
  pass_filenames: false

deploy-queue-cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd deploy-queue && cargo clippy --all-targets'
  language: system
  pass_filenames: false

deploy-queue-cargo-sqlx-prepare:
  name: cargo sqlx prepare
  entry: bash -c 'cd deploy-queue && cargo sqlx prepare -- --all-targets --all-features'
  language: system
  pass_filenames: false

deploy-queue-cargo-test:
  name: cargo test
  entry: bash -c 'cd deploy-queue && cargo test'
  language: system
  pass_filenames: false

sleek:
  name: Format SQL using sleek
  entry: sleek
  language: system

docs(deploy-queue): add queries used in dashboards
  deploy-queue/queries/grafana_queries.sql
Due: sleek

chore(deploy-queue): bump dependencies
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

chore(deploy-queue): bump version to 0.3.0
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

First version of Slack notifications
  deploy-queue/action.yml
Due: none

Send Slack message for prod only.
  deploy-queue/action.yml
Due: none

Fixed indentation.
  deploy-queue/action.yml
Due: none

Updated slack-github-action to v2.1.1.
  deploy-queue/action.yml
Due: none

slack token and channel are part of inputs.
  deploy-queue/action.yml
Due: none

Add GitHub url link.
  deploy-queue/action.yml
Due: none

Send message in case of any status.
  deploy-queue/action.yml
Due: none

feat(deploy-queue): Slack notifications (#61)
  deploy-queue/action.yml
Due: none

chore(deploy-queue): bump version to 0.4.0
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

chore(deploy-queue): bump version to 0.4.0 (#62)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

First version of extended cancellation method.
  .github/workflows/deploy-queue.yml
  deploy-queue/.sqlx/query-41bca488d310eb8e50fc7150a94342972d3561c060c246bf246812fb4b556b3e.json
  deploy-queue/.sqlx/query-5cfd1949b38752397f6f4f393519163e69e9383588093998f594d9fb2167d24f.json
  deploy-queue/.sqlx/query-ee8e3e3db7349201dd037a83afac5c7875d33162e4c6320d18e66a2ff681dc33.json
  deploy-queue/.sqlx/query-fd967284576d89af5aec4ac7c2a14917b4a21d6d205f56a5f98ac93dca1b3b5c.json
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
  deploy-queue/tests/integration_tests.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Keep same parameter order.
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Fix new CLI arguments to optional.
  deploy-queue/src/cli.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Fix build errors
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Fix lint errors.
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Squeze all region related fields into one line.
  deploy-queue/action.yml
Due: none

Move finish/cancel message into a thread of the start message.
  deploy-queue/action.yml
Due: none

bump version to 0.4.1
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

Fixed nit comment.
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Use format() to split the long line.
  deploy-queue/action.yml
Due: none

feat(deploy-queue): Slack integration improvements (#64)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/action.yml
Due: none

Wrap with toJSON to prevent parsing errors.
  deploy-queue/action.yml
Due: none

bump version to 0.4.2
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

Fixed failing test.
  .github/workflows/deploy-queue.yml
Due: none

Fix stuck test.
  .github/workflows/deploy-queue.yml
Due: none

Change cancellation_note to flag (otherwise it doesn't for bulk cancellation)
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Added debug printing.
  .github/workflows/deploy-queue.yml
Due: none

Fixed broken test.
  .github/workflows/deploy-queue.yml
Due: none

feat(deploy-queue): Fix parsing error in Slack notifications (#65)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/action.yml
Due: none

bump version to 0.5.0
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

feat(deploy-queue): Extend cancellation method (#63)
  .github/workflows/deploy-queue.yml
  deploy-queue/.sqlx/query-41bca488d310eb8e50fc7150a94342972d3561c060c246bf246812fb4b556b3e.json
  deploy-queue/.sqlx/query-5cfd1949b38752397f6f4f393519163e69e9383588093998f594d9fb2167d24f.json
  deploy-queue/.sqlx/query-ee8e3e3db7349201dd037a83afac5c7875d33162e4c6320d18e66a2ff681dc33.json
  deploy-queue/.sqlx/query-fd967284576d89af5aec4ac7c2a14917b4a21d6d205f56a5f98ac93dca1b3b5c.json
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
  deploy-queue/tests/integration_tests.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

Replace \n with actual line break.
  deploy-queue/action.yml
Due: none

Bump version to 0.5.1
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

feat(deploy-queue): Fix Slack message formatting (#66)
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/action.yml
Due: none

Path conditions:
  deploy-queue-cargo-fmt: any of: \.rs$
  deploy-queue-cargo-clippy: any of: \.rs$
  deploy-queue-cargo-sqlx-prepare: any of: \.rs$
  deploy-queue-cargo-test: any of: \.rs$
  sleek: any of: \.sql$
