Repository neondatabase/dev-actions: changes, and which pre-commit hooks are due for each by the changed paths.
All: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test, sleek

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-yaml
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: ["--verbose"]
  - repo: local
    hooks:
      - id: deploy-queue-cargo-fmt
        name: cargo fmt
        entry: bash -c 'cd deploy-queue && cargo fmt'
        language: system
        types: [rust]
        pass_filenames: false
      - id: deploy-queue-cargo-clippy
        name: cargo clippy
        entry: bash -c 'cd deploy-queue && cargo clippy --all-targets'
        language: system
        types: [rust]
        pass_filenames: false
      - id: deploy-queue-cargo-sqlx-prepare
        name: cargo sqlx prepare
        entry: bash -c 'cd deploy-queue && cargo sqlx prepare -- --all-targets --all-features'
        language: system
        types: [rust]
        pass_filenames: false
      - id: deploy-queue-cargo-test
        name: cargo test
        entry: bash -c 'cd deploy-queue && cargo test'
        language: system
        types: [rust]
        pass_filenames: false
        # Should hopefully be replaced with an upstream hook, see https://github.com/nrempel/sleek/issues/95
      - id: sleek
        name: Format SQL using sleek
        entry: sleek
        language: system
        types: [sql]

chore(deploy-queue): format action.yml
  deploy-queue/action.yml
Due: none

fix(deploy-queue): expose outliers in action
  deploy-queue/action.yml
Due: none

impr(deploy-queue): drop env from cancel by component version
  deploy-queue/.sqlx/query-1096e32f72fa665a9d7617ebff0493a33882ffc11f77739434bb94b0503f37f6.json
  deploy-queue/.sqlx/query-1283715454efddfcc6620af6d3fd49ee5704a30450a54f1cd313c7357d69f438.json
  deploy-queue/.sqlx/query-41bca488d310eb8e50fc7150a94342972d3561c060c246bf246812fb4b556b3e.json
  deploy-queue/.sqlx/query-8e59cf17dcf58d773c0de3b1c023944c34484829592744e8bad2fd5fbbd621cd.json
  deploy-queue/.sqlx/query-ee8e3e3db7349201dd037a83afac5c7875d33162e4c6320d18e66a2ff681dc33.json
  deploy-queue/.sqlx/query-fd967284576d89af5aec4ac7c2a14917b4a21d6d205f56a5f98ac93dca1b3b5c.json
  deploy-queue/action.yml
  deploy-queue/src/lib.rs
  deploy-queue/tests/integration_tests.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

impr(deploy-queue): split cancel into subcommands
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

impr(deploy-queue): nest outliers into list subcommand
  deploy-queue/action.yml
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

refactor(deploy-queue): split cell out of deployment struct
  deploy-queue/src/handler/fetch.rs
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/model.rs
  deploy-queue/tests/deployment_analytics_tests.rs
  deploy-queue/tests/integration_tests.rs
  deploy-queue/tests/outlier_detection_tests.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

refactor(deploy-queue): split code into modules
  deploy-queue/src/cli.rs
  deploy-queue/src/constants.rs
  deploy-queue/src/handler/cancel.rs
  deploy-queue/src/handler/fetch.rs
  deploy-queue/src/handler/list.rs
  deploy-queue/src/handler/mod.rs
  deploy-queue/src/lib.rs
  deploy-queue/src/list.rs
  deploy-queue/src/model.rs
  deploy-queue/src/util/database.rs
  deploy-queue/src/util/duration.rs
  deploy-queue/src/util/github.rs
  deploy-queue/src/util/mod.rs
  deploy-queue/tests/deployment_analytics_tests.rs
  deploy-queue/tests/integration_tests.rs
  deploy-queue/tests/outlier_detection_tests.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

feat(deploy-queue): support listing cells
  deploy-queue/.sqlx/query-305b0466fdb34e01fa1c7029b83fe410002c3b54331c7af27e2e82011b011172.json
  deploy-queue/migrations/0007_cells_materialized_view.sql
  deploy-queue/src/cli.rs
  deploy-queue/src/handler/fetch.rs
  deploy-queue/src/handler/list.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test, sleek

chore(deploy-queue): bump dependencies
  deploy-queue/Cargo.lock
Due: none

chore(deploy-queue): bump version to 0.6.0
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

update compute manifest with new tag during compute release
  release-pr/src/neon_release_pr/cli.py
  release-pr/src/neon_release_pr/git.py
Due: none

impr(deploy-queue): use GHA job URL as fallback
  deploy-queue/action.yml
Due: none

fix(deploy-queue): name `list cells` consistently
  deploy-queue/src/cli.rs
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

fix(deploy-queue): expose `list-cells` through gh action
  deploy-queue/action.yml
Due: none

fix(deploy-queue): align output of `list cells` with slack message
  deploy-queue/src/handler/list.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

chore(deploy-queue): don't set URL for e2e tests
  .github/workflows/deploy-queue.yml
Due: none

chore(deploy-queue): bump version to 0.7.0
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

fix(deploy-queue): support multi-line github outputs
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/src/util/github.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

chore(deploy-queue): fix whitespace
  deploy-queue/.sqlx/query-1096e32f72fa665a9d7617ebff0493a33882ffc11f77739434bb94b0503f37f6.json
  deploy-queue/.sqlx/query-41bca488d310eb8e50fc7150a94342972d3561c060c246bf246812fb4b556b3e.json
  deploy-queue/.sqlx/query-7ace651fd4eb0d0129409109b6cb5cfafc043dfcca704fdc90231de5f8facfc9.json
  deploy-queue/.sqlx/query-8e59cf17dcf58d773c0de3b1c023944c34484829592744e8bad2fd5fbbd621cd.json
  deploy-queue/.sqlx/query-ee8e3e3db7349201dd037a83afac5c7875d33162e4c6320d18e66a2ff681dc33.json
  deploy-queue/.sqlx/query-fd967284576d89af5aec4ac7c2a14917b4a21d6d205f56a5f98ac93dca1b3b5c.json
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

fix(deploy-queue): allow running with missing migrations
  deploy-queue/src/lib.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

chore(deploy-queue): bump version to 0.5.2
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

fix(deploy-queue): exclusive advisory locks for writes to GITHUB_OUTPUT
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
  deploy-queue/src/util/github.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

fix(deploy-queue): allow running with missing migrations
  deploy-queue/src/util/database.rs
Due: deploy-queue-cargo-fmt, deploy-queue-cargo-clippy, deploy-queue-cargo-sqlx-prepare, deploy-queue-cargo-test

impr(deploy-queue): test old and new versions against same database
  .github/workflows/deploy-queue.yml
Due: none

impr(deploy-queue): run integration tests against newer schema
  .github/workflows/deploy-queue.yml
Due: none

fix(deploy-queue): circumvent IP allow list by not authenticating to github
  deploy-queue/action.yml
Due: none

chore(deploy-queue): bump version to 0.7.1
  deploy-queue/Cargo.lock
  deploy-queue/Cargo.toml
Due: none

chore(deploy-queue): switch to self-hosted runners
  .github/workflows/deploy-queue.yml
Due: none
